.App {
  display: flex;
  flex-direction: column;
}

.search-form {
  background-color: $netflixBlack;

  form {
    margin-bottom: 30px;
  }
}

.results-noms {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}