// Colors
$netflixRed: rgb(229,9,20);
$netflixDarkRed: rgb(180,3,15);
$netflixBlack: rgb(8,8,8);
$netflixGray: rgb(20,20,20);
$netflixWhite: rgb(224,224,224);

// Fonts
$bigFont: 'Bebas Neue', cursive;
$textFont: 'Roboto', sans-serif;